
ion-button {
    padding: 8px 0 0 0px;
    text-transform: initial;
    font-weight: normal;
}
._cs_icon_class{
    zoom:4.0;
}
.inner_div{
    margin-left: 15px;
    margin-right: 15px;
}
.no_text_decoration a{
    text-decoration: none;
}
.grid_border_top{
    border-top: 1px solid #ddd;
}
a{
    color: #085a9a !important;
}
ion-item{
    border-radius: 4px;
}
ion-content {
    --background: url('/assets/svg/login_screen_user_back.svg') no-repeat center center / cover;
}
p{
    color:#085a9a !important;
}