<app-header></app-header>
<ion-content>
  <ion-thumbnail class="_c_top_image">
      <img src="/assets/images/delhi.png" alt=""/>
  </ion-thumbnail>
  <ion-card class="sch-pool-car f-section">
    <ion-card-content class="f-icons">
      <h4 text-center>Delhi tour Package info</h4>
      <div class="d-flex justify-content-center" text-center>
        <div class="border-bot"></div>
      </div>
      <p text-center>Terms and Condition</p>
      <div class="terms-of-package">
          <h6>Deluxe Package :</h6>
          <div class="border-bottom-package"></div>
          <ul type="circle" class="tour-travel-terms-as-per-package">
            <li>Total Number of people. (10 adult, 4 Children)</li>
            <li>All total 8 days, 7 nights.</li>
            <li>At these tour total 6places are as follows -</li>
            <ol type="1">
              <li>Humayun's Tomb (2 days)</li>
              <li>Hauz khas Village (1 day)</li>
              <li>Red Fort (1 day)</li>
              <li>Qutub Minar (2 days)</li>
              <li>Golden Triangle (1 day)</li>
              <li>National Zoological Park (1 day)</li>
            </ol>
            <li>Deluxe hotel. (Including bed rooms, kitchen, bathroom and balcony)</li>
            <li>Including louding and fooding.</li>
          </ul>
      </div>
      <div class="terms-of-package">
          <h6>Premium Package :</h6>
          <div class="border-bottom-package"></div>
          <ul type="circle" class="tour-travel-terms-as-per-package">
            <li>Total Number of people. (10 adult, 4 Children)</li>
            <li>All total 8 days, 7 nights.</li>
            <li>At these tour total 6places are as follows -</li>
            <ol type="1">
              <li>Humayun's Tomb (2 days)</li>
              <li>Hauz khas Village (1 day)</li>
              <li>Red Fort (1 day)</li>
              <li>Qutub Minar (2 days)</li>
              <li>Golden Triangle (1 day)</li>
              <li>National Zoological Park (1 day)</li>
            </ol>
            <li>Deluxe hotel. (Including bed rooms, kitchen, bathroom and balcony)</li>
            <li>Including louding and fooding.</li>
          </ul>
      </div>
      <ion-button margin-top size="default"  type="button" expand="full" (click)="requestNow()">
        Request Now
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
