.terms-of-package{border-top: 1px dotted #eeeeee; padding: 15px 0;}
.border-bottom-package{height: 1.5px; width: 50px; background: #000; border-radius: 50%; margin-top: 3px;}
.tour-travel-terms-as-per-package{padding: 10px 20px;}
.tour-travel-terms-as-per-package li{font-size: 13px; color: #616161; font-weight: 500; letter-spacing: 0.5px;}