._c_row_back{
    //background-color:#3880ff;
    //color:#fff;
    padding:5px;
}

ion-item{
    --ion-background-color:#3171e0;
    padding:5px;
    color:#fff;
 }
._c_toolbar{
    padding-right: 15px;
}
.radio-icon{
    border: 2px solid #fff !important;
}
