<app-header></app-header>
<ion-content>
    <div class="inner_div">
      <div class="personal-fields">
        <h5>Personal Details :: </h5>
        <p>Help us to know your better</p>
        <hr class="hr-border">
      </div>
      <form  [formGroup]="form" novalidate>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-item>
                <ion-label class="label_cs" position="floating">10 digit mobile number</ion-label>
                <ion-input autofocus="on" formControlName="mobile" maxlength="10" clearInput="true" inputmode="tel" type="tel" pattern="[0-9]{10}" required="true"></ion-input>
                <ion-icon name="phone-portrait" slot="start"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Enter your Name</ion-label>
                <ion-input  autofocus="on" formControlName="name" type="text" minlength="2" clearInput="true" inputmode="text" required="true"></ion-input>
                <ion-icon name="person" slot="start"></ion-icon>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Enter your email</ion-label>
                  <ion-input autofocus="on" formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" clearInput="true"  type="email" inputmode="email" required="true" ></ion-input>
                  <ion-icon name="mail" slot="start"></ion-icon>
              </ion-item>
              <p style="text-align: center;margin-bottom:0px;margin-right: 30px;font-size: 15px;">Set 4 digit password</p>
              <ion-item class="ion-margin-bottom" lines="none" style="margin-bottom: 0px;">
                <div class="otp-input2">
                  <ion-input #pField1 autofocus="true" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" formControlName="otp1" type="tel" maxlength="1" tabindex="1"   (keyup)="moveFocus(pField2,$event,pField1)"   class="otp-margin-right cs-input"></ion-input>
                  <ion-input #pField2 autofocus="true" formControlName="otp2" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" tabindex="2"  maxlength="1" (keyup)="moveFocus(pField3,$event,pField1)" class="otp-margin-right cs-input"></ion-input>
        
                  <ion-input #pField3 autofocus="true" formControlName="otp3" [style.-webkit-text-security]="passwordShown === false ? 'disc':''"  type="tel"  tabindex="3"  maxlength="1" (keyup)="moveFocus(pField4,$event,pField2)" class="otp-margin-right cs-input"></ion-input>
        
                  <ion-input #pField4 autofocus="true" formControlName="otp4" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" tabindex="4"  maxlength="1" (keyup)="moveFocus(pField4,$event,pField3)" class="cs-input"></ion-input>
                </div>
                <ion-icon name="lock" slot="start" style=" margin-right: 30px;"></ion-icon>
                <ion-text style="    margin-left: 0px;" *ngIf="!passwordShown" slot="end" (click)="togglePassword()">Show</ion-text>
                <ion-text style="    margin-left: 0px;"  *ngIf="passwordShown" slot="end" (click)="togglePassword()">Hide</ion-text>
              </ion-item>
              <ion-item-divider></ion-item-divider>
              <div class="radio-button-personal">
                <p>Gender</p>
                <ion-radio-group formControlName="gender">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <ion-item lines="none" class="rstar-ion-item">
                      <ion-label class="rstar-label-bg rstar-label">
                        <ion-icon ios="ios-woman" md="md-woman"></ion-icon><br>
                        <ion-radio slot="start" value="F"  checked class="rstar-radio"></ion-radio>Female
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none" class="rstar-ion-item">
                      <ion-label class="rstar-label-bg rstar-label">
                        <ion-icon ios="ios-transgender" md="md-transgender"></ion-icon><br>
                        <ion-radio slot="start" value="T" class="rstar-radio"></ion-radio>Transgender
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none" class="rstar-ion-item">
                      <ion-label class="rstar-label-bg rstar-label">
                        <ion-icon ios="ios-man" md="md-man"></ion-icon><br>
                        <ion-radio slot="start" value="M" class="rstar-radio"></ion-radio>Male
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-radio-group>
              </div>
              <ion-item lines="none">
                <ion-label> I have Referral code</ion-label>
                <ion-toggle [(ngModel)]="showReferralCode" slot="start" formControlName="ref_applied_no_checkbox"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="showReferralCode">
                <ion-label position="floating">Referral code if any</ion-label>
                <ion-input autofocus="on" formControlName="ref_applied_no" minlength="5"  clearInput="true" inputmode="text" type="text"></ion-input>
                <ion-icon name="heart" slot="start"></ion-icon>
              </ion-item>
              <ion-text text-center>
                <p>By clicking save & continue you are accepting to our <a (click)="goToPage('terms-conditions')">Terms & Conditions</a></p>
              </ion-text>
              <ion-button class="ion-margin-top" color="button"  size="large" [disabled]="form.invalid || net_connection_check"  type="button" expand="full" (click)="registerUser()">
                SAVE & CONTINUE 
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
              <div text-center padding>
                Already have an account, please <a routerLink='/login'>Sign In</a>
              </div>
          </ion-row>
        </ion-grid>
      </form>
    </div>
</ion-content>