<app-header *ngIf="!thankyou_div_visible"></app-header>
<ion-content class="form_content" *ngIf="!thankyou_div_visible">
  <div>
    <div class="_c_top_image f-icons">
        <i class="fas fa-bus-alt fa-3x"></i>
    </div>
    <ion-card class="sch-pool-car f-section">
      <ion-card-content class="f-icons">
        <h4 text-center>School pool car</h4>
        <div class="d-flex justify-content-center" text-center>
          <div class="border-bot"></div>
        </div>
        <p text-center>Please fill the form</p>
        <form [formGroup]="form"  novalidate>
          <ion-item>
            <ion-label position="floating">School Name -</ion-label>
            <ion-input autofocus="on" formControlName="school_name" type="text" clearInput="true" color="primary" ngModel required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Branch -</ion-label>
              <ion-input autofocus="on" formControlName="branch" type="text" clearInput="true" color="primary" ngModel required></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label position="floating">Number of Candidates -</ion-label>
              <ion-input autofocus="on" formControlName="no_of_canditate" type="number" clearInput="true" color="primary" ngModel required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Pick up location -</ion-label>
              <ion-input autofocus="on" formControlName="pick_up_location" type="text" clearInput="true" color="primary" ngModel required></ion-input>
          </ion-item>
          <ion-button margin-top size="default"  type="button" expand="full" (click)="submitRequestForm()">
              Submit
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
<ion-content *ngIf="thankyou_div_visible" text-center>
    <div class="middle-of-the-page-whole">
        <div class="border-circle-asd">
          <h2><i class="fas fa-check fa-3x"></i></h2>
          <h5>Thank You</h5>
          <p>Your submission has been received.</p>
          <ion-text color="primary" (click)="goHome()" style="font-weight: bold;">BACK TO HOME PAGE</ion-text>
        </div>
    </div>
</ion-content>


