ion-icon {
    font-size: 24px; //Preferred size here
}
.cs-p{
    font-size: 13px;
    font-weight: 500;
}
.background-gif ion-img{border-bottom: 3px solid #02A1EB;}
 ._c_col_back{background: #58595B;}
 ._c_p_text_color{color: #757575; letter-spacing: 1px;}

 .inner_div{
    margin-left: 0px;
    margin-right: 0px;
}
.card_class{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 0px;
}
.toolbar-class{
    --background: transparent;
}
ion-toolbar{
    --min-height:25px;
}
ion-badge{
    margin-bottom: -5px;
    margin-right: 3px;
    border-radius: 10px;
    padding: 3px 2px 3px 5px;
    background: #0A5999;
}
ion-icon{
    font-size: 20px;
}
.rstar-icon{
    font-size: 15px;
}
.no_margin_p{
    margin : 0 10px 0px 0px !important; 
}
.no_margin_p_travel_details{
    margin: 0px 0px 0px 3px;
    font-size: 12px;
}
.p_location{
    margin: 0 0 0 0px;
}
.button-row{
    margin-top: 10px;
    text-align: center;
}
ion-button{
    padding:0px !important;
}