.inner_div{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
    text-align: center;
}
ion-content{
    --ion-background-color:#02A1EB;
    --color:#ffffff;
}
ion-button{
    --background: white !important;
    --color:#02A1EB !important;
}