
#cart-badge {
    position: absolute;
    top: 5px;
    right: 10px;
 }
.cs-icon-size {
    font-size: 20px !important; //Preferred size here
}
ion-title{
    font-weight:600;
    font-size: 17px;
    padding-left: 0px;
}
.rstar-menu{
    height: 44px;
}

.connect{
    color: #ffffff;
    padding: 20px;
    box-shadow: none;
}
.disconnect{
    color: #ffffff;
    padding: 20px;
    box-shadow: none;
}
