ion-item{
    --background:#ffffff;
}
.card-class{
    margin: 5px 0 0 0 !important;
}
.inner_div_history{
    margin-top:60px !important;
 }
 .div_elipse_class{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .p_location{
    // text-align: left;
    margin: 0 0 0 0px;
}