<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-text>
      <p>Enter 4 digit password</p>
    </ion-text>
    <form  [formGroup]="form" novalidate>
      <ion-item class="ion-text-center ion-margin-bottom" lines="none">
        <div class="otp-input2">
          <ion-input #pField1 autofocus="true" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" formControlName="otp1" type="tel" [(ngModel)]="otp1" maxlength="1" tabindex="1"   (keyup)="moveFocus(pField2,$event,pField1)"   class="otp-margin-right"></ion-input>

          <ion-input #pField2 autofocus="true" formControlName="otp2" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" [(ngModel)]="otp2" tabindex="2"  maxlength="1" (keyup)="moveFocus(pField3,$event,pField1)" class="otp-margin-right"></ion-input>

          <ion-input #pField3 autofocus="true" formControlName="otp3" [style.-webkit-text-security]="passwordShown === false ? 'disc':''"  type="tel" [(ngModel)]="otp3" tabindex="3"  maxlength="1" (keyup)="moveFocus(pField4,$event,pField2)" class="otp-margin-right"></ion-input>

          <ion-input #pField4 autofocus="true" formControlName="otp4" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" tabindex="4"  [(ngModel)]="otp4" maxlength="1" (keyup)="moveFocus(pField4,$event,pField3)"></ion-input>
        </div>
        <ion-icon name="lock" slot="start" style=" margin-right: 0px;"></ion-icon>
        <ion-text name="eye" style="    margin-left: 0px;" *ngIf="!passwordShown" slot="end" (click)="togglePassword()">Show</ion-text>
        <ion-text name="eye" style="    margin-left: 0px;" *ngIf="passwordShown" slot="end" (click)="togglePassword()">HIde</ion-text>
      </ion-item>
    </form>
    <div style="margin-top: 15px;">
      <ion-button size="default"  type="button" color="danger" (click)="closePasswordModal()">Cancel</ion-button>
      <ion-button size="default"  type="button" [disabled]="form.invalid" (click)="signIn()">Sign In</ion-button>
    </div>
  </div>
</ion-content>