.inner_div{margin-left: 10px;margin-right: 10px;}
ion-icon {font-size: 24px;}
.cs-p{
    font-size: 13px;
    font-weight: 500;
}

 .background-gif ion-img{border-bottom: 3px solid #33b5e5;}
 ._c_col_back{background: #0d47a1;}
 ._c_p_text_color{color: #757575; letter-spacing: 1px;}
 .rstar-margin{
     margin:0 0 10px 0;
 }
.rstar-icon{
    font-size: 17px;
}
.top-div{
    height: 50px !important;
}
.inner-scroll{
    height: 50px !important;
}
.card_back{
    background-color: #ffffff;
    margin: 10px 0px 10px 0px;
}
ion-toolbar{
    --background:transparent;
}
.footer-bus-route-details{
    background: #0A5999;
    color:white;
}
ion-button{
    --background: #0ec254;
    color: white;
    --border-color: #0ec254;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
.car_selected{
    --background: #0ec254;
    color: white;
    --border-color: #0ec254;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    opacity: 0.5; 
}

.p_location{
    margin: 0 0 0 0px;
}






