<app-header></app-header>
<ion-content>
    <div class="inner_div">
      <div class="center">
        <mat-progress-spinner *ngIf="progress_bar" diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner> 
      </div>
      <ion-card *ngIf="no_bus_saturday">
        <ion-text color="danger" text-center>
          <p style="padding: 10px;">{{no_bus_saturday_msg}}</p>
        </ion-text>
      </ion-card>
      <ion-card  *ngIf="dataList_show">
        <ion-text color="danger" text-center>
          <p>No car has been available </p>
        </ion-text>
      </ion-card>
     
        <div class="margin-top">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of dataList"  class="mat-expansion-panel-header-car margin-bottom-10">
            <mat-expansion-panel-header class="second-back mat-expansion-panel-header" collapsedHeight="auto" expandedHeight="auto">
              <mat-panel-description>
              <ion-grid no-padding no-margin>
                <ion-row no-padding no-margin>
                  <ion-col size="2" class="primary-back col-pad"><mat-icon>directions_bus</mat-icon></ion-col>
                  <ion-col size="10" class="second-back col-pad font-13">{{item.carname | uppercase}} - {{item.carno}}</ion-col>
                  <!-- <ion-col size="1" class="primary-back col-pad font-13">&nbsp;</ion-col> -->
                </ion-row>
              </ion-grid>
              
            </mat-panel-description>
                
              
              
            </mat-expansion-panel-header>
            <ion-grid no-padding margin-top>
              <ion-row style="margin: 0 8px 0 10px;">
                <ion-col text-center style="padding: 0px;" size="1">
                  <ion-img src="./assets/svg/logo.svg" alt="redy rider" style="width: 14px;"></ion-img>
                  <ion-img src="./assets/svg/dot.svg" alt="." style="width: 3px;margin: 5px 0 7px 5px;" ></ion-img>
                  <ion-img src="./assets/svg/logo.svg" alt="redy rider" style="width: 14px;"></ion-img>
                </ion-col>
                <ion-col text-left style="padding: 0px;" size="11">
                  <p class="p_location">{{item.start_point}}</p>
                  <p style="margin: 10px 0 12px 0;color:#02A1EB;" (click)="viewRoute(item.route_master_id,item.start_point_id,item.end_point_id,item.route_timing_id)"><fa-icon [icon]="['fas','route']" size="1x" class="rstar-icon"></fa-icon>&nbsp;View Route</p>
                  <p class="p_location">{{item.end_point}}</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding no-margin style="margin-left: 10px;">
                <ion-col no-padding no-margin text-left>
                  <ion-toolbar style="--min-height:35px;">
                    
                    
                    <p style="margin:0 26px 0px 0px;font-size: 13px;" slot="start"><fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon>&nbsp;&nbsp;Available Seats : <ion-text color="success">{{item.available_seat}}</ion-text></p>
                  </ion-toolbar>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <p style="font-size: 19px;margin: 0 0 0 30px;color:#000000;">{{item.start_time}}</p>
                </ion-col>
                <ion-col size="6">
                  <ion-toolbar style="--min-height:24px;">
                    <ion-icon name="alarm" slot="start" style="font-size: 20px;opacity: 0.6;"></ion-icon>
                    <p style="opacity: 0.6;margin: 0 0px 0 0;">&nbsp; You will reach by</p>
                  </ion-toolbar>
                  <p style="margin:0px 0px 5px 27px;opacity: 0.6;font-size: 13px;">{{item.arrival_time}}</p>
                </ion-col>
              </ion-row>
              <ion-row no-padding no-margin>
              <!-- <ion-row no-padding no-margin *ngIf="item.car_status"> -->
                <ion-col *ngIf="item.car_status" [ngClass]="{'car_selected': item.car_selected,'col_back':!item.car_selected}" (click)="reserveSeat(item,$event)">
                  SELECT THIS CAR
                  
                </ion-col>
                <ion-col *ngIf="!item.car_status" class="not_avai">
                    NOT AVAILABLE THIS TIME
                </ion-col>
              </ion-row>
              
            </ion-grid>
          
            </mat-expansion-panel>
          </mat-accordion>
        </div>
          
          
     
      <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="dataList!=0">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more route...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </div>
</ion-content>
<ion-footer (click)="goToNextPage()" *ngIf="!(no_bus_saturday || dataList.length==0)">
  <ion-toolbar color="button">
    <p style="margin: 0px 20px 0px 0px;color: white;text-align: center;"><fa-icon [icon]="['fas','chair']" size="1x" class="rstar-icon"></fa-icon> &nbsp;RESERVE YOUR SEAT</p>
  </ion-toolbar>
</ion-footer>