.inner_div{margin-left: 10px;margin-right: 10px;}
ion-icon {font-size: 24px;}
.cs-p{
    font-size: 13px;
    font-weight: 500;
}

 .background-gif ion-img{border-bottom: 3px solid #33b5e5;}
 ._c_col_back{background: #0d47a1;}
 ._c_p_text_color{color: #757575; letter-spacing: 1px;}
 .rstar-margin{
     margin:0 0 10px 0;
 }
.rstar-icon{
    font-size: 17px;
}
.top-div{
    height: 50px !important;
}
.inner-scroll{
    height: 50px !important;
}
.card_back{
    background-color: #ffffff;
    margin: 10px 0px 10px 0px;
}
ion-toolbar{
    --background:transparent;
}

.col_back{
    border-radius: 0px;
    padding: 0 24px 0 0;
    background: #069fe3 !important;
    color:white;
}
.car_selected{
    background: #069fe3 !important;
    border-radius: 0px;
    opacity: 0.5;
    padding: 0 24px 0 0;
    color:white;
} 

.p_location{
    margin: 0 0 0 0px;
    font-size: 13px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.not_avai{
    background: #e91e63;
    color: #fff;
    text-align: center;
    
    font-weight: bold;
    opacity: 0.5;
}
.margin-top{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
::ng-deep .mat-expansion-panel-header > .mat-expansion-indicator {
    margin: 0px 0 0px 0 !important;
}
::ng-deep .mat-expansion-panel-header-car {
    box-shadow: none !important;
}
// ::ng-deep .mat-expansion-panel-header-car > .mat-expansion-panel-header{
//     padding: 0 24px 0 0;
//     border-radius: 0px;
//     //opacity: 0.5 !important;
// }
.select_row{
    padding: 10px;
    background: #069fe3;
    color: white;
}
.col-pad{
    padding: 13px 0px 2px 15px;
}
.no_margin_p{
    color:white;
    font-size: 13px;
}
.mat-badge-content {
    width: auto;
    display: grid;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    align-items: center;
    padding: 1px 1px;
    font-size: 15px;
    top: 2px !important;
    right: 0px !important;
    }