<app-header></app-header>
<ion-progress-bar type="indeterminate" class="progress_bar" *ngIf="progress_bar"></ion-progress-bar>
<ion-content>
  <div class="inner_div">
    <ion-grid class="rstar-grid-top">
        <ion-row color="primary" class="ion-justify-content-center rstar-row-margin rstar-row">
          <ion-col class="ion-align-self-center">
              <p>
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g class="layer">
                 <title>Layer 1</title>
                 <g id="svg_1">
                  <rect fill="#B0B1AF" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.50805" x="11.71598" y="11.70119"></rect>
                  <rect fill="#B0B1AF" height="4.62722" id="svg_16" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16508" x="11.91716" y="40.87278"></rect>
                  <rect fill="#B0B1AF" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.50805" y="23.77219"></rect>
                  <rect fill="#B0B1AF" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                 </g>
                </g>
               </svg>
               
               Booked
               </p>
          </ion-col>
          <ion-col class="ion-align-self-center">
            
            <p> 
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
               <g class="layer">
                <title>Layer 1</title>
                <g id="svg_1">
                 <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                 <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                 <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                 <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                </g>
               </g>
              </svg>
              Available
            </p>
            
          </ion-col>
          <ion-col class="ion-align-self-center">
            
            <p>
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
               <g class="layer">
                <title>Layer 1</title>
                <g id="svg_1">
                 <rect fill="#02A1EB" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                 <rect fill="#02A1EB" height="4.62722" id="svg_16" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                 <rect fill="#02A1EB" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                 <rect fill="#02A1EB" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#FFFFFF" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                </g>
               </g>
              </svg>
              Selected
            </p>
            
          </ion-col>
        </ion-row>
        
    </ion-grid>


    
    <div class="rstar-seat-div">
      <ion-grid class="rstar-first-grid rstar-grid">
          <!-- First row with extra seat-->
        <ion-row class="rstar-row-bottom">
          <ion-col class="ion-align-self-center" size="2" *ngFor="let seat_no of allSeats.first_row;let i = index">
            <div *ngIf="seat_no.booked == true" class="booked">
            <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
              <g class="layer">
               <title>Layer 1</title>
               <g id="svg_1">
                <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
               </g>
              </g>
             </svg>
             </div>
             <div *ngIf="seat_no.booked == false" (click)="toggleClass(seat_no,allSeats.car_id)"  [ngClass]="{'selected': seat_no.selected}">
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g class="layer">
                 <title>Layer 1</title>
                 <g id="svg_1">
                  <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                  <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                 </g>
                </g>
               </svg>
              </div>
             <p>S{{seat_no.seat_number}}</p>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <p class="driver_p">
              Driver</p>
          </ion-col>
        </ion-row>
        
      </ion-grid>

      <ion-grid class="rstar-second-grid rstar-grid" *ngIf="allSeats.car_type == 'SML 37 Seater' || allSeats.car_type == 'SML 26 Seater'">
        <ion-row class="">
          <ion-col class="ion-align-self-center" size="7">&nbsp;</ion-col>
          <ion-col class="ion-align-self-center" size="2" *ngFor="let seat_no of allSeats.second_row;let i = index">
            <div *ngIf="seat_no.booked == true">
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g class="layer">
                 <title>Layer 1</title>
                 <g id="svg_1">
                  <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                  <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                 </g>
                </g>
               </svg>
               </div>
               <div *ngIf="seat_no.booked == false" (click)="toggleClass(seat_no,allSeats.car_id)"  [ngClass]="{'selected': seat_no.selected}">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
                </div>
               <p>S{{allSeats.second_row[i].seat_number}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      

      
      <ion-grid class="rstar-middle-grid rstar-grid">
        <!-- After First row with extra seat-->
        <div *ngFor="let middle_seat_no of allSeats.middle_row;let i = index">
          <ion-row  class="rstar-row" *ngIf="i%4 == 0">
            <ion-col class="ion-align-self-center" size="2">
              <div *ngIf="allSeats.middle_row[i].booked" class="booked">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <div *ngIf="allSeats.middle_row[i].booked == false" (click)="toggleClass(allSeats.middle_row[i],allSeats.car_id)"  [ngClass]="{'selected': allSeats.middle_row[i].selected}">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
                </div>
              <p>S{{allSeats.middle_row[i].seat_number}}</p>
            </ion-col>
            <ion-col class="ion-align-self-center" size="2" *ngIf="allSeats.middle_row[i+1].no_seat">&nbsp;</ion-col>
            <ion-col class="ion-align-self-center" size="2" *ngIf="allSeats.middle_row[i+1].no_seat === undefined">
              <div *ngIf="allSeats.middle_row[i+1].booked" class="booked">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <div *ngIf="allSeats.middle_row[i+1].booked == false" (click)="toggleClass(allSeats.middle_row[i+1],allSeats.car_id)"  [ngClass]="{'selected': allSeats.middle_row[i+1].selected}">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
                </div>
              <p>S{{allSeats.middle_row[i+1].seat_number}}</p>
            </ion-col>
            <ion-col class="ion-align-self-center" size="3">&nbsp;</ion-col>
            <ion-col class="ion-align-self-center" size="2">
              <div *ngIf="allSeats.middle_row[i+2].booked" class="booked">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <div *ngIf="allSeats.middle_row[i+2].booked == false" (click)="toggleClass(allSeats.middle_row[i+2],allSeats.car_id)"  [ngClass]="{'selected': allSeats.middle_row[i+2].selected}">
                
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
                </div>
              <p>S{{allSeats.middle_row[i+2].seat_number}}</p>
            </ion-col>
            <ion-col class="ion-align-self-center" size="2">
              <div *ngIf="allSeats.middle_row[i+3].booked" class="booked">
                
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <div *ngIf="allSeats.middle_row[i+3].booked == false" (click)="toggleClass(allSeats.middle_row[i+3],allSeats.car_id)"  [ngClass]="{'selected': allSeats.middle_row[i+3].selected}">
                
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
                </div>
              <p>S{{allSeats.middle_row[i+3].seat_number}}</p>
            </ion-col>
          </ion-row>
        </div> 
      </ion-grid>

      


      <ion-grid class="rstar-last-grid">
        <ion-row  *ngIf="allSeats.car_type == 'Force Traveller 26 seater' || allSeats.car_type == 'SML 37 Seater'">
          <ion-col class="ion-align-self-center" [size]="seat_no.number == '24' || seat_no.number == '33' ? '3':'2'" *ngFor="let seat_no of allSeats.last_row; let i = index">
            <div *ngIf="seat_no.booked" class="booked">
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g class="layer">
                 <title>Layer 1</title>
                 <g id="svg_1">
                  <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                  <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                 </g>
                </g>
               </svg>
            </div>
            <div *ngIf="seat_no.booked == false" (click)="toggleClass(seat_no,allSeats.car_id)"  [ngClass]="{'selected': seat_no.selected}">
              <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g class="layer">
                 <title>Layer 1</title>
                 <g id="svg_1">
                  <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                  <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                  <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                 </g>
                </g>
               </svg>
            </div>
            <p>S{{seat_no.seat_number}}</p>
          </ion-col>
        </ion-row>
       
        <ion-row *ngIf="allSeats.car_type !== 'Force Traveller 26 seater' && allSeats.car_type !== 'SML 37 Seater'">
          <ion-col class="ion-align-self-center"  *ngFor="let seat_no of allSeats.last_row;let i=index" [size]="seat_no.number == '13' || seat_no.number == '20' || seat_no.number == '17'|| seat_no.number == '29' ? '3':'2'">
            <div *ngIf="!seat_no.no_seat">
              <div *ngIf="seat_no.booked" class="booked">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <div *ngIf="seat_no.booked == false" (click)="toggleClass(seat_no,allSeats.car_id)"  [ngClass]="{'selected': seat_no.selected}">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                  <g class="layer">
                   <title>Layer 1</title>
                   <g id="svg_1">
                    <rect fill="none" height="33.79881" id="svg_11" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.56805" x="11.71598" y="11.70119"></rect>
                    <rect fill="#ffffff" height="4.62722" id="svg_16" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="28.16568" x="11.91716" y="40.87278"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_17" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="37.56805" y="23.77219"></rect>
                    <rect fill="#ffffff" height="21.72781" id="svg_20" rx="5" ry="5" stroke="#02A1EB" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" width="5.43195" x="9" y="23.77219"></rect>
                   </g>
                  </g>
                 </svg>
              </div>
              <p>S{{seat_no.seat_number}}</p>
            </div>
            <div *ngIf="seat_no.no_seat">
              &nbsp;
            </div>
          </ion-col>
          
        </ion-row>
      </ion-grid>
      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin>
          <ion-button class="ion-margin-bottom" size="large" type="button" expand="block" (click)="confirmBooking()" [disabled]="net_connection_check" style="padding: 0px;">
            BOOK YOUR SEAT 
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>