#map {
    width: 100%;
    height: 300px;
    }
#markerLayer img {
    animation: pulse .5s infinite alternate;
    -webkit-animation: pulse .5s infinite alternate;
    transform-origin: center;
    -webkit-transform-origin: center;
    }
ion-item{
    --background:white;
}
.toolbar-class{
    --background: transparent;
    margin-left: 5px;
    padding: 0 10px 0px 5px;
    --min-height: 30px;
}
.card_class{
    background-color: #ffffff;
    //color: white;
    margin: 0px;
    border-radius: 0px;
    //border-bottom: 1px solid #B0B1AF;
    border-top: 1px solid #B0B1AF;
}
.no_margin_p_travel_details{
    margin: 0px;
    opacity: 0.7;
}
.footer-bus-route-details{
    background: #0A5999;
    color:white;
}
ion-badge{
    font-size: 10px;
}
.main_fab_bt{
    height: 35px;
    width: 35px;
    margin: 8px;
}
.p_location{
    // text-align: left;
    margin: 0 0 0 0px;
}