<ion-content>
  <div class="ion-padding ion-text-center">
    <ion-text>
      <h4 style="margin-top: 0px;">Forgot Password</h4>
    </ion-text>
    <form  [formGroup]="form" novalidate>
      <ion-item>
        <ion-label position="floating">10 digit registered number</ion-label>
        <ion-input autofocus="on" formControlName="contact" maxlength="10" clearInput="true" inputmode="tel" type="tel" pattern="[0-9]{10}" required="true" ngModel></ion-input>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
      </ion-item>
    </form>
    <div style="margin-top: 15px;">
      <ion-button size="default"  type="button" color="danger" (click)="closeForgotPasswordModal()">Cancel</ion-button>
      <ion-button size="default"  type="button" [disabled]="form.invalid || net_connection_check" (click)="sendOTP()">Continue</ion-button>
    </div>
  </div>
</ion-content>