ion-searchbar{
    --background:white;
    padding:0px;
}
ion-header{
   
    --ion-text-color:#fff;
}
.border_button{
    height: 44px;
    border: 1px solid #3880ff;
    margin-right: 10px;
    border-radius: 23px;
}
#map {
    height: 100%;
}
.ion-list-class{
    position: absolute;
    top: 0;
}
ion-button{
    --border-radius:0px;
}
