ion-searchbar{
    --background:white;
    padding:0px;
}
ion-header{
    --ion-background-color:#3880ff;
    --ion-text-color:#fff;
}
.border_button{
    height: 44px;
    border: 1px solid #3880ff;
    margin-right: 10px;
    border-radius: 23px;
}
