<ion-header>
  <ion-toolbar style="padding:0 10px 0px 0px;">
    <ion-searchbar type="text" debounce="10000"  (ionInput)="updateSearchResults($event)" [(placeholder)]="location_placeholder" [(ngModel)]="search_address"></ion-searchbar>
    <ion-buttons slot="start" class="border_button">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="{{network_check_class}}" *ngIf="network_check_class_show" [style.background]="network_check_class=='disconnect'?'red':'#4CAF50'">{{network_msg}}</div>
</ion-header>
<ion-content>
  <ion-progress-bar type="indeterminate" class="progress_bar" *ngIf="progress_bar"></ion-progress-bar>
  <div #map id="map"></div>
    <ion-list [hidden]="autocompleteItems.length == 0" class="ion-list-class" *ngIf="showList">
      <ion-item *ngFor="let item of autocompleteItems" tappable lines="full" class="item-class" (click)="selectSearchLocation(item.description,which_type_search)"><p>{{ item.description  }}</p></ion-item>
    </ion-list>
    <ion-text color="danger" *ngIf="isNoItemAvailable" >
      <p style="text-align: center;">No location Found</p>
    </ion-text>
</ion-content>
<ion-footer class="footer-bus-route-details">
  <ion-grid no-padding>
    <ion-row>
      <ion-col text-center no-padding no-margin>
        <ion-button size="default" expand="block"  style="margin-top: 0px;font-size: 12px;padding: 0px;"   type="button" [disabled]=" net_connection_check" (click)="selectLocation(which_type_search)">
          <ion-icon name="locate" style="font-size: 16px;float: left;"></ion-icon>&nbsp;
          SELECT LOCATION
      </ion-button>
      </ion-col>
      <ion-col text-center no-padding no-margin *ngIf="which_type_search=='pickup'">
        <ion-button size="default" expand="block"  style="margin-top: 0px;font-size: 12px;padding: 0px;"   type="button" [disabled]=" net_connection_check" (click)="currentLocation('pickup')">
          <ion-icon name="locate" style="font-size: 16px;float: left;"></ion-icon>&nbsp;
          CURRENT LOCATION
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
