.otp-input2 {
    ion-input {
      display: inline-block;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        border-bottom: 2px solid #86888f;
        width: 20%;
    }
    input {
      text-align: center;
    }
  }
  
  .rotp {
    // background: none;
    font-size: 20px;
    margin-top: 12px;
  }
  
  .otp-input2 ion-input {
    cursor: none !important;
  }
  .otp-input2 button {
    margin-top: 5%;
  }
  .item-md.item-input:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: none;
  }
  .phone-no {
    background: transparent;
    height: 100%;
  }
  .item-ios.item-block .item-inner {
    border: none;
  }
  
  .otp-margin-right{
    margin-right: 10px;
  }
  .grid_border_top{
    border-top: 1px solid #ddd;
}


