<app-header></app-header>
<ion-content>
    <div class="inner_div">
      <div class="ion-text-center ion-padding">
        <div *ngIf="!showPasswordDiv">
          <ion-text>
            <p>4 digit OTP code</p>
          </ion-text>
          <ion-item class="ion-text-center ion-margin-bottom" lines="none">
            <div class="otp-input2">
              <ion-input #Field1 type="tel" [(ngModel)]="otp1" maxlength="1" class="otp-margin-right" (keyup)="moveFocus(Field2,$event,Field1)"></ion-input>
              <ion-input #Field2 type="tel" [(ngModel)]="otp2" maxlength="1" class="otp-margin-right" (keyup)="moveFocus(Field3,$event,Field1)"></ion-input>
              <ion-input #Field3 [(ngModel)]="otp3" maxlength="1" class="otp-margin-right" (keyup)="moveFocus(Field4,$event,Field2)"></ion-input>
              <ion-input #Field4 [(ngModel)]="otp4" maxlength="1" (keyup)="moveFocus(Field4,$event,Field3)"></ion-input>
            </div>
            <ion-icon name="chatbubbles"  slot="start" style=" margin-right: 0px;"></ion-icon>
          </ion-item>
          <div>
            <ion-button size="default"  type="button" color="danger" (click)="cancel()">Cancel</ion-button>
            <ion-button size="default" color="button"  type="button" (click)="otpVerify()" [disabled]="!(otp1 && otp2 && otp3 && otp4) || net_connection_check">Continue</ion-button>
          </div>
        </div>
        <div *ngIf="showPasswordDiv">
          <ion-text>
            <h3>Reset Password</h3>
          </ion-text>
          <form [formGroup]="form"  novalidate>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center">
                  <div style="padding-top: 10px;">
                    <ion-text>
                      <p>Set new 4 digit password</p>
                    </ion-text>
                    <ion-item class="ion-text-center ion-margin-bottom" lines="none">
                      <div class="otp-input2">
                        <ion-input #pField1 autofocus="true" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" formControlName="potp1" type="tel" [(ngModel)]="potp1" maxlength="1" tabindex="1"   (keyup)="moveFocus(pField2,$event,pField1)"   class="otp-margin-right"></ion-input>
                        <ion-input #pField2 autofocus="true" formControlName="potp2" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" [(ngModel)]="potp2" tabindex="2"  maxlength="1" (keyup)="moveFocus(pField3,$event,pField1)" class="otp-margin-right"></ion-input>
                        <ion-input #pField3 autofocus="true" formControlName="potp3" [style.-webkit-text-security]="passwordShown === false ? 'disc':''"  type="tel" [(ngModel)]="potp3" tabindex="3"  maxlength="1" (keyup)="moveFocus(pField4,$event,pField2)" class="otp-margin-right"></ion-input>
                        <ion-input #pField4 autofocus="true" formControlName="potp4" [style.-webkit-text-security]="passwordShown === false ? 'disc':''" type="tel" tabindex="4"  [(ngModel)]="potp4" maxlength="1" (keyup)="moveFocus(pField4,$event,pField3)"></ion-input>
                      </div>
                      <ion-icon name="lock" slot="start" style=" margin-right: 0px;"></ion-icon>
                      <ion-text name="eye" style="    margin-left: 0px;" *ngIf="!passwordShown" slot="end" (click)="togglePassword()">Show</ion-text>
                      <ion-text name="eye" style="    margin-left: 0px;"  *ngIf="passwordShown" slot="end" (click)="togglePassword()">HIde</ion-text>
                    </ion-item>
                    <div style="margin-top: 15px;">
                      <ion-button size="default" color="button"  type="button" (click)="saveNewPassword()" [disabled]="form.invalid">Save</ion-button>
                    </div>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
        
    </div>
    <ion-grid class="grid_border_top">
      <ion-row margin-bottom>
        <ion-col>
          <ion-text text-center>
            <p class="no_text_decoration">
              Copyright &copy; 2020 Redy Rider.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
