

.app-heading h1{text-transform: uppercase; letter-spacing: 1px;}
.small-content {color: #B0B1AF; letter-spacing: 0.5px;}
.inner_div{
    margin-left: 15px;
    margin-right: 15px;
}
.cs-title-padding{
    margin-left: 0px;
    //font-size: 20px;
}
.radio-button-personal{
    padding-bottom: 10px;
    padding-top: 15px;
}
.radio-button-personal p {
    font-size: 17px;
    color: #B0B1AF;
    margin: 0px;
    
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}


.rstar-label {
    display: inline-block;
    font-weight: 400;
    //color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid;
    border-bottom-color: initial;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.rstar-radio{
    opacity: 0;
    height: 0;
    margin: 0;
}
ion-icon{
    font-size:26px;
}
.item-radio-checked ion-label {
    color: #fff;
    background-color: #0A5999;
    border-color: #0A5999;
}
.rstar-ion-item{
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --inner-padding-bottom:0px;
    --inner-padding-top:0px;
    --inner-padding-start:0px;
    --inner-padding-end:2px;

}
.rotate-90 {
    display: inline-block; 
    transform: rotate(242deg);
  }
  .rstar-row-margin{
    margin-left: -10px;
}
ion-card{
    position: absolute;
    top: 50px;
    z-index: 1000;
    right: -17px;
    transform: rotate(90deg);
    background: #B0B1AF;
    color: #ffffffff;
    border-radius: 24px;
    padding: 5px;
}

  .rstar-border{
    border: 1px solid #757575;
    
    
  }
  .rstar-margin-bottom{
    margin-bottom: 10px;
  }
  .rstar-margin-top{
    margin-top: 10px;
  }
  .rstar-label-text{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .rstar-item{
    max-height: 45px;
  }
  .rstar-time{
      padding-left:120px;
  }
  .rstar-date{
    padding-left:104px;
}
ion-button{
  padding: 6px 0 6px 0 !important;
}