<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-text>
       <h5>4 digit otp code</h5>
    </ion-text>
      <ion-item class="ion-text-center ion-margin-bottom" lines="none">
        <div class="otp-input2">
          <ion-input #Field1 type="tel" [(ngModel)]="otp1" maxlength="1" class="otp-margin-right" readonly></ion-input>
          <ion-input #Field2 type="tel" [(ngModel)]="otp2" maxlength="1" class="otp-margin-right" readonly></ion-input>
          <ion-input #Field3 [(ngModel)]="otp3" maxlength="1" class="otp-margin-right" readonly></ion-input>
          <ion-input #Field4 [(ngModel)]="otp4" maxlength="1" readonly></ion-input>
        </div>
        <ion-icon name="chatbubbles" slot="start" style=" margin-right: 0px;"></ion-icon>
      </ion-item>
      <div>
        <ion-button size="default"  type="button" color="danger" (click)="closeOtpModal()">Cancel</ion-button>
        <ion-button size="default"  type="button" (click)="otpVerify()">Continue</ion-button>
      </div>
  </div>
</ion-content>