.div_class{
    text-align: center;
}
.rstar-icon{
    font-size: 25px;
    top: 2px;
    position: relative;
    margin-left: 10px;
    opacity: 0.3;
}
.div_link_class{
    white-space: nowrap;
    width: 270px;
    text-overflow: clip;
    overflow: hidden;
    padding-left: 13px;
    float: left;
}
.link-icon{
    position: relative;
    top: 8px;
    font-size: 29px;
    opacity: 0.3;
}
.social-whatsapp-icon{
    font-size: 35px;
    color:limegreen !important;
    margin-right: 15px;
}
.more-icon{
    font-size: 20px;
    position: relative;
    bottom: 5px;
}
.social-icon{
    margin-left: 15px;
    margin-right: 15px;
}
.noti_p{
    opacity: 0.6;
    font-size: 13px;
    margin: 5px 0 0 0;
}